html(lang="pt-BR")
    head
        meta(http-equiv="Content-Type", content="text/html;charset=UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Final | Code invalid 
        link(rel="stylesheet", href="/style.css")
        link(rel="shortcut icon", href="/favicon.png", type="image/png")
    body
        div(class="postagem")
            div(class="postagem-nomeusuario") Código da postagem inválido!