form(action="/postar", method="POST") 

    fieldset 
        
        legend Formulário Postar 

        input(type="text", name="descricao", placeholder="Descricao", maxlength="256", required)
    
        input(type="url", name="conteudo", placeholder="Conteudo", required)

        input(type="text", name="nomeusuario", placeholder="Nome de usuário", maxlength="16", required)

        input(type="date", name="data_post", required)

        input(type="checkbox", name="ativo", checked)

        input(type="submit", value="Postar!")